{% extends '_base.html' %}
{% load static i18n thumbnail %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/vacancies.css' %}">
{% endblock %}

{% block content %}
<section class="banner-menu__top vacancies-image" style="background-image: url('{% static 'images/current-vacancies.png' %}">
    <h2>{% trans 'Vacancies' %}</h2>
</section>
<section class="vacancy-details">
    <div class="container">
        <div class="vacancy-detail">
            <div class="flex-container">
                <div>
                    <h2 class="vacancy-header">{{ vacancy.title }}</h2>
                    <br>
                    <p>{{ vacancy.short_description | safe }}</p>
                    {% if vacancy.location %}
                    <p><strong>{% trans 'Country' %}:</strong> {{ vacancy.location }}</p>
                    {% endif %}
                    {% if vacancy.wages %}
                    <p><strong>{% trans 'Wages' %}:</strong>  {{ vacancy.wages }}</p>
                    {% endif %}
                </div>
                <div class="image-container">
                    <div class="image-bg"></div>
                    <div class="image-on">
                        {% thumbnail vacancy.image "992x528" crop="center" as im  %}
                            <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" class="vacancy-img vacancy-detail-img">
                        {% endthumbnail %}
                    </div>
                </div>
            </div>
            <hr>
            {{ vacancy.description | safe }}
            <div class="b-container">
                {% if not applied %}
                <button class="apply" id="apply" data-api="{% url 'api:vacancy__requests:vacancy__request.create' %}">
                    {% trans 'Apply' %}
                </button>
                {% else %}
                <button class="delete" id="delete" data-api="{% url 'api:vacancy__requests:vacancy__request.delete' vacancy_id %}">
                    {% trans 'Unapply' %}
                </button>
                {% endif %}
            </div>
            
        </div>
    </div>
    
</section>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var apply = document.querySelector("#apply")
        var deleteIt = document.querySelector("#delete")
        if (apply) {
            apply.addEventListener('click', (event) => {
            if("{{ user.is_authenticated }}" != "True") {
                Swal.fire({
                    type: "error",
                    title: "Oops...",
                    text: "{% trans 'You should be authenticated as an employee in order to apply' %}!",
                })
            }
            else {
                var e = "{{ employee_id }}"
                var v = "{{ vacancy_id }}"

                data = {
                    employee_id: e,
                    vacancy_id: v
                }

                $.ajax({
                    url: event.target.dataset.api,
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success (data) {
                        var x = document.getElementById("mainSuccess");
                        $("#mainSuccess").text("{% trans 'successfully sent' %}");
                        x.className = "show";
                        setTimeout(function(){
                            x.className = x.className.replace("show", "");
                            location.reload()
                        }, 1500);
                    },
                    error (data) {
                        var x = document.getElementById("mainError");
                        if (data.responseJSON) {
                            x.innerHTML = data.responseJSON["message"]
                        }
                        else {
                            x.innerHTML = data.statusText
                        }
                        x.className = "show";
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
                })
            }
        })
        }
        if (deleteIt) {
            deleteIt.addEventListener('click', (event) => {
            $.ajax({
                url: event.target.dataset.api,
                type: "DELETE",
                data: JSON.stringify({vacancy_id: "{{ vacancy_id }}"}),
                success (data) {
                    var x = document.getElementById("mainSuccess");
                        $("#mainSuccess").text("{% trans 'delete successfully' %}");
                        x.className = "show";
                        setTimeout(function(){
                            x.className = x.className.replace("show", "");
                            location.reload()
                        }, 1500);
                },
                error (error) {
                    var x = document.getElementById("mainError");
                        if (data.responseJSON) {
                            x.innerHTML = data.responseJSON["message"]
                        }
                        else {
                            x.innerHTML = data.statusText
                        }
                        x.className = "show";
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
                })
            })
        }
        
    })
</script>
{% endblock %}