{% extends '_base.html' %}
{% load static i18n thumbnail %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/vacancies.css' %}">
{% endblock %}

{% block content %}
    <section class="banner-menu__top vacancies-image" style="background-image: url('{% static 'images/current-vacancies.png' %}">
        <h2>{% trans 'Vacancies' %}</h2>
    </section>
    <section class="vacancies">
        <div class="container">
            {% comment %} <form action="">
                <div class="row">
                    <div class="col-md-3">
                        <select name="Country" class="form-control">
                            <option value="">{% trans 'Select country' %}</option>
                            <option value="Poland">{% trans 'Poland' %}</option>
                            <option value="Poland">{% trans 'Liuthania' %}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="Company" class="form-control">
                            <option value="">{% trans 'Select company' %}</option>
                            <option value="biovela">{% trans 'Biovela' %}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="Company" class="form-control">
                            <option value="">{% trans 'Select specialty' %}</option>
                            <option value="biovela">{% trans 'Driver' %}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="btn btn-primary filter">
                            {% trans 'Filter' %}
                        </div>
                    </div>
                </div>
            </form> {% endcomment %}
            {% if vacancies %}
            <section class="vacancies-list">
                {% for vacancy in vacancies %}
                <div class="vacancy row" data-id="{{ vacancy.id }}">
                    <div class="img-container col-md-3">
                    {% thumbnail vacancy.image "248x132" crop="center" as im  %}
                        <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" class="vacancy-img">
                    {% endthumbnail %}
                    </div>
                    
                    <div class="info-container col-md-6">
                        <h3 class="header-info">{{ vacancy.title }}</h3>
                        <p class="specialty">{{ vacancy.short_description | safe }}</p>
                        <p class="country">{{ vacancy.location }}</p>
                        <p class="wage">{{ vacancy.wages  }}</p>
                        
                    </div>
                    <img src="{% static 'images/like.png' %}" alt="" class="favourite">
                    <p class="created-date">{{ vacancy.was_published }}</p>
                </div>
                {% endfor %}
            </section>
            {% else %}
            <p>{% trans 'No vacancies are available' %}</p>
            {% endif %}
        </div>
    </section>
{% endblock %}


{% block js %}
    <script src="{% static 'js/vacancies.js' %}"></script>
{% endblock %}