{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block css %}

{% endblock %}

{% block content %}

    <section class="banner-menu__top" style="background-image: url('{% static 'images/OПартнеры.png' %}')">
        <h2>{% trans 'Reviews' %}</h2>
    </section>
    <section class="reviews-page__main">
        <div class="container">
            <div class="row">
                <div class="reviews-page">
                    <div class="row-main">
                        <div class="reviews-page__col">
                            <div class="reviews-page__item">
                                <a href="#">
                                    <div class="reviews-page__item-image">
                                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                                    </div>
                                    <div class="reviews-page__item-content">
                                        <h2>Владимир Беляев</h2>
                                        <span>Директор компании</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="reviews-page__col">
                            <div class="reviews-page__item">
                                <a href="#">
                                    <div class="reviews-page__item-image">
                                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                                    </div>
                                    <div class="reviews-page__item-content">
                                        <h2>Владимир Беляев</h2>
                                        <span>Директор компании</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="reviews-page__col">
                            <div class="reviews-page__item">
                                <a href="#">
                                    <div class="reviews-page__item-image">
                                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                                    </div>
                                    <div class="reviews-page__item-content">
                                        <h2>Владимир Беляев</h2>
                                        <span>Директор компании</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="reviews-page__col">
                            <div class="reviews-page__item">
                                <a href="#">
                                    <div class="reviews-page__item-image">
                                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                                    </div>
                                    <div class="reviews-page__item-content">
                                        <h2>Владимир Беляев</h2>
                                        <span>Директор компании</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="reviews-page__col">
                            <div class="reviews-page__item">
                                <a href="#">
                                    <div class="reviews-page__item-image">
                                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                                    </div>
                                    <div class="reviews-page__item-content">
                                        <h2>Владимир Беляев</h2>
                                        <span>Директор компании</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="reviews-page__col">
                            <div class="reviews-page__item">
                                <a href="#">
                                    <div class="reviews-page__item-image">
                                        <img src="{% static 'images/avatar.jpg' %}" alt="">
                                    </div>
                                    <div class="reviews-page__item-content">
                                        <h2>Владимир Беляев</h2>
                                        <span>Директор компании</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

{% endblock %}