.register-options-container {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    box-sizing: border-box;
    color: #8893b9;
    position: relative;
    top: 0;
}

body {
    overflow-x: hidden;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    font-size: 30px;
    opacity: 0.6;
}

.has-tip {
    z-index: 1000;
}

.register-container {
    position: absolute;
    width: 105vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1059;
    background-color: #0b0b0bad;
    display: none;
    animation: fade-in .5s forwards;
}

.form-checks {
    display: flex;
    justify-content: space-around;
}

.register-main h2 {
    color: #031b4e;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
}

.register-main h3 {
    font-size: 18px;
    font-weight: 700;
    color: #031b4e;
}

.register-main form {
    margin-top: 20px;
}

.form-check {
    margin-top: 10px;
}

.slide-in {
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 50px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#passSerial, #phoneEmployee, #inn {
    letter-spacing: 1.2px;
}

.register-employee {
    max-width: calc(100% - 305px);
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 30px;
    margin: 0 auto;
    color: #8893b9;
}

.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
    width: 100% !important;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}

.file-input {
    width: 100% !important;
}

.img-passport {
    width: 100%;
    height: auto;
}

.btn-file, .fileinput-remove {
    position: relative;
    margin: 0 auto;
    top: 10px;
}

.send-list-form {
    z-index: 10000000;
}

.datepicker {
    z-index: 100000 !important;
}

@media screen and (max-width: 991px) {
    #sendRequestButton {
        position: relative;
        top: 10px;
    }
}

@media screen and (max-width: 840px) {
    .register-employee {
        width: 80%;
        max-width: unset;
    }
}