.vacancies {
    padding: 40px 0 60px;
    background-color: #f6faff;
    margin: 0 auto;
}

.vacancies > .container {
    max-width: 1200px;
}

.filter {
    position: relative;
    margin-left: 10px !important;
}

.vacancies-list {
    margin-top: 65px;
}

.vacancy {
    display: block;
    min-height: 165px;
    width: 100%;
    padding: 15px 20px;
    box-shadow: 0 0 10px lightgray;
    background-color: #fff;
    width: 92%;
    margin-bottom: 35px;
}

.vacancy:hover {
    cursor: pointer;
}

.vacancy-details {
    background-color: #f6faff;
}

.vacancy-header {
    color: #8893b9;
    font-weight: bold;
}

.created-date {
    position: relative;
    margin-right: -15px;
    right: 12px;
    top: 15px;
}

.vacancy-img {
    margin: 0 auto;
    width: 100%;
    height: 132px;
    transition: transform 0.3s ease-in;
}

.vacancy-detail {
    margin: 50px auto 20px;
    max-width: 960px;
    color: #8893b9;
    font-family: "Work Sans", Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.img-container {
    border: 1px solid rgb(240, 238, 238);
    text-align: center;
    overflow: hidden;
    padding: 0;
}

.img-container:hover .vacancy-img {
    transform: scale(1.1)
}

.info-container {
    margin-left: 20px;
}

.info-container h3 {
    font-weight: bold;
    margin-top: 4px;
}

.specialty {
    font-size: 17px;
}


.favourite {
    width: 20px;
    padding: 0;
    position: relative;
    left: 37px;
}

.wage {
    color: rgb(138, 138, 138);
}

.right-wrapper {
    min-height: 140px;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 930px) {
    .vacancy {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
     .vacancy-img {
         width: 100%;
         height: auto;
     }
     .img-container {
         border: unset; 
     }

     .favourite {
         height: 20px;
     }


     .right-wrapper {
         float: unset;
         justify-content: space-between;
         flex-direction: row;
         width: 100%;
         height: unset;
         min-height: unset;
         flex-wrap: wrap-reverse;
     }

     .created-date {
         float: right;  
     }

     .info-container {
         margin-top: 25px;
         margin-left: unset;
     }

     .favourite {
         left: -5px;
         top: 15px;
     }
}

@media screen and (max-width: 600px) {
    .vacancy {
        width: 90%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 767px) {
    .form-control {
        margin-bottom: 25px;
    }

    .filter {
        float: right;
    }
}
