{% extends '_base.html' %}
{% load static thumbnail i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/datepicker/bootstrap-datepicker.css' %}" />
    <link href="{% static 'plugins/filepond/filepond-plugin-image-preview.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/filepond/filepond.min.css' %}">
{% endblock %}
{% block content %}
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="profile-main">
                    <div class="content-title">
                        <h2>{% trans 'Education' %}</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-side">
                                <div class="profile-side__title">
                                    <h2>{% trans 'Personal cabinet' %}</h2>
                                </div>
                                <nav class="nav_personal d-lnk-txt">
                                    <ul>
                                        <li class="">
                                            <a href="{% url 'employee.profile' %}"><i class="fa fa-user"></i>{% trans 'My profile' %}</a>
                                        </li>
                                        <li class="">
                                            <a href="{% url 'employee.password.update' %}"><i class="fa fa-cog"></i> {% trans 'Settings' %} </a>
                                        </li>
                                        <li class="">
                                            <a href="#"><i class="fa fa-book"></i>{% trans 'Courses' %}</a>
                                        </li>

                                    </ul>
                                    <div class="nav_personal__footer">
                                        <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="profile-content">
                                <div class="employee-detail">
                                    <div class="row">
                                        <form name="employee_update" style="padding: 0 15px;">
                                            <input type="hidden" value="{{ request.user.employee.id }}" id="employee-id">
                                            <div class="education-item">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="eduType">{% trans 'Education type' %}</label>
                                                            <select class="form-control selectpicker show-tick" name="edu_type" id="eduType">
                                                                <option value="">{% trans 'Select' %}</option>
                                                                {% for education in education_types %}
                                                                    <option value="{{ education.id }}">{{ education.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="eduName">{% trans 'Name' %}</label>
                                                            <input name="edu_name" type="text" class="form-control" id="eduName" value="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="eduAddress">{% trans 'Address' %}</label>
                                                            <input name="edu_address" list="eduRegion_list" type="text" class="form-control" id="eduAddress" value="" autocomplete="off">
                                                            <datalist class="region-list" id="eduRegion_list">
                                                            </datalist>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="eduSpec">{% trans 'Specialty' %}</label>
                                                            <input name="edu_spec" type="text" class="form-control" id="eduSpec" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="eduStartDate">{% trans 'Education start date ' %}</label>
                                                            <input name="edu_start_date" type="text" class="datepickerFrom form-control" data-date-format="yyyy-mm-dd" id="eduStartDate" value="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="eduGradDate">{% trans 'Education end date' %}</label>
                                                            <input name="edu_grad_date" type="text" class="datepickerFrom form-control" data-date-format="yyyy-mm-dd" id="eduGradDate1" value="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="eduAddit">{% trans 'Other tuition data' %}</label>
                                                            <input name="edu_addit" type="text" class="form-control" id="eduAddit" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="education-file__upload op3-file__upload form-group">
                                                            <label for="">{% trans 'Files' %} <i>({% trans 'not required' %})</i></label>
                                                            <input type="file"
                                                                   class="filepondEducation"
                                                                   name="filepond_education"
                                                                   label-idle="{% trans 'Upload files' %}"
                                                                   multiple
                                                                   data-max-file-size="3MB"
                                                                   data-max-files="4"
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="text-align: center;">
                                                <button id="employeeCreateButton" class="loginButton" data-api="{% url 'api:employee:education.create' %}" type="submit">
                                                    {% trans 'Send' %}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/bootstrap/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond-plugin-file-encode.min.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond-plugin-file-validate-size.min.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond-plugin-image-exif-orientation.min.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond-plugin-image-preview.min.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond.min.js' %}"></script>

    <script>
        $(function () {
            $.fn.datepicker.dates['ru'] = {
                days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
                daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                today: "Сегодня",
                clear: "Очистить",
                format: "dd.mm.yyyy",
                weekStart: 1,
                monthsTitle: 'Месяцы'
            };
        }(jQuery));
        (function($){
            $.fn.datepicker.dates['uz-latn'] = {
                days: ["Yakshanba", "Dushanba", "Seshanba", "Chorshanba", "Payshanba", "Juma", "Shanba"],
                daysShort: ["Yak", "Du", "Se", "Chor", "Pay", "Ju", "Sha"],
                daysMin: ["Ya", "Du", "Se", "Cho", "Pa", "Ju", "Sha"],
                months: ["Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun", "Iyul", "Avgust", "Sentabr", "Oktabr", "Noyabr", "Dekabr"],
                monthsShort: ["Yan", "Fev", "Mar", "Apr", "May", "Iyn", "Iyl", "Avg", "Sen", "Okt", "Noy", "Dek"],
                today: "Bugun",
                clear: "O'chirish",
                format: "dd.mm.yyyy",
                weekStart: 1,
                monthsTitle: 'Oylar'
            };
        }(jQuery));
        $(function () {
            $(".datepickerFrom").datepicker({
                autoclose: true,
                language: 'ru',
                todayHighlight: true
            });
        });

        FilePond.registerPlugin(

            // encodes the file as base64 data
            FilePondPluginFileEncode,

            // validates the size of the file
            FilePondPluginFileValidateSize,

            // corrects mobile image orientation
            FilePondPluginImageExifOrientation,

            // previews dropped images
            FilePondPluginImagePreview
        );
        FilePond.setOptions({
            instantUpload: false
        });

        fEdu = FilePond.create(document.querySelector(`input.filepondEducation`));

        $("#employeeCreateButton").click(function(event){
            event.preventDefault();

            let educationFormData = new FormData();

            educationFormData.append(`employee`, $('#employee-id').val());
            educationFormData.append(`type`, $(`select[name='edu_type']`).val());
            educationFormData.append(`name_ru`, $(`input[name='edu_name']`).val());
            educationFormData.append(`address_ru`, $(`input[name='edu_address']`).val());
            educationFormData.append(`specialization_ru`, $(`input[name='edu_spec']`).val());
            educationFormData.append(`date_started`, $(`input[name='edu_start_date']`).val());
            educationFormData.append(`date_finished`, $(`input[name='edu_grad_date']`).val());
            educationFormData.append(`additional_ru`, $(`input[name='edu_addit']`).val());

            var educationCountFile = fEdu.getFiles().length;
            for (var j = 0; j < educationCountFile; j++) {
                let f = fEdu.getFiles()[j].file;
                let fImage = new File([f], f.name, {type: f.type});
                educationFormData.append(`file`, fImage);
            }

            $.ajax({
                url: $(this).data('api'),
                data: educationFormData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                        var x = document.getElementById("mainSuccess");
                        $("#mainSuccess").text("{% trans 'successfully sent' %}");
                        x.className = "show";
                        setTimeout(function(){
                            x.className = x.className.replace("show", "");
                            window.location.href = "{% url 'employee.profile' %}";
                        }, 1500);
                    },
                    error: function (data) {
                        $.magnificPopup.close();
                        var x = document.getElementById("mainError");

                        x.className = "show";
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
            });
        });
    </script>
{% endblock %}
