{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/datepicker/bootstrap-datepicker.css' %}" />
    <link href="{% static 'plugins/filepond/filepond-plugin-image-preview.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/filepond/filepond.min.css' %}">
{% endblock %}
{% block content %}
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="profile-main">
                    <div class="content-title">
                        <h2>{% trans 'Knowledge of languages' %}</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-side">
                                <div class="profile-side__title">
                                    <h2>{% trans 'Personal cabinet' %}</h2>
                                </div>
                                <nav class="nav_personal d-lnk-txt">
                                    <ul>
                                        <li class="">
                                            <a href="{% url 'employee.profile' %}"><i class="fa fa-user"></i> {% trans 'My profile' %}</a>
                                        </li>
                                        <li class="">
                                            <a href="{% url 'employee.password.update' %}"><i class="fa fa-cog"></i> {% trans 'Settings' %} </a>
                                        </li>
                                        <li class="">
                                            <a href="#"><i class="fa fa-book"></i> {% trans 'Courses' %} </a>
                                        </li>
                                    </ul>
                                    <div class="nav_personal__footer">
                                        <a href="{% url 'logout' %}"> {% trans 'Logout' %}</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-9">

                            <div class="profile-content">
                                <div class="employee-detail">
                                    <div class="row">
                                        <form name="employee_update" style="padding: 0 15px;">
                                            <div class="language-item" data-files-count="{{ language.file.count }}">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="langName">{% trans 'Language name' %}</label>
                                                            <select id="langName" class="form-control selectpicker show-tick" name="lang_name" >
                                                                <option value="">{% trans 'Select' %}</option>
                                                                {% for lang in languages %}
                                                                    <option value="{{ lang.id }}" {% if lang.id == language.language.id %}selected{% endif %}>{{ lang.name_ru }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="langLevel">{% trans 'Level of knowledge' %}</label>
                                                            <select id="langLevel" class="form-control selectpicker show-tick" name="lang_level">
                                                                <option value="">{% trans 'Select' %}</option>
                                                                <option value="1" {% if language.level == 1 %}selected{% endif %}>{% trans 'Elementary' %}</option>
                                                                <option value="2" {% if language.level == 2 %}selected{% endif %}>{% trans 'Intermediate' %}</option>
                                                                <option value="3" {% if language.level == 3 %}selected{% endif %}>{% trans 'Advanced' %}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="language-file__upload op3-file__upload form-group">
                                                            <label for="">{% trans 'Files' %} <i>({% trans 'not required' %})</i></label>
                                                            <input type="file"
                                                                   class="filepondLanguage"
                                                                   name="filepond_language"
                                                                   label-idle="{% trans 'Upload files' %}"
                                                                   multiple
                                                                   data-max-file-size="3MB"
                                                                   data-max-files="4"
                                                                   {% for file in language.file.all %}
                                                                       data-file-url-{{ forloop.counter }}="{{ file.file.url }}"
                                                                       data-file-name-{{ forloop.counter }}="{{ file.file.name }}"
                                                                       data-file-size-{{ forloop.counter }}="{{ file.file.size }}"
                                                                   {% endfor %}
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" style="text-align: center;">
                                                <button id="employeeEditButton" class="loginButton" data-api="{% url 'api:employee:update.3.language' language.id %}" type="submit">
                                                    {% trans 'Send' %}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/bootstrap/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond-plugin-file-encode.min.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond-plugin-file-validate-size.min.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond-plugin-image-exif-orientation.min.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond-plugin-image-preview.min.js' %}"></script>
    <script src="{% static 'plugins/filepond/filepond.min.js' %}"></script>

    <script>
        $(function () {
            $.fn.datepicker.dates['ru'] = {
                days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
                daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                today: "Сегодня",
                clear: "Очистить",
                format: "dd.mm.yyyy",
                weekStart: 1,
                monthsTitle: 'Месяцы'
            };
        }(jQuery));
        (function($){
            $.fn.datepicker.dates['uz-latn'] = {
                days: ["Yakshanba", "Dushanba", "Seshanba", "Chorshanba", "Payshanba", "Juma", "Shanba"],
                daysShort: ["Yak", "Du", "Se", "Chor", "Pay", "Ju", "Sha"],
                daysMin: ["Ya", "Du", "Se", "Cho", "Pa", "Ju", "Sha"],
                months: ["Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun", "Iyul", "Avgust", "Sentabr", "Oktabr", "Noyabr", "Dekabr"],
                monthsShort: ["Yan", "Fev", "Mar", "Apr", "May", "Iyn", "Iyl", "Avg", "Sen", "Okt", "Noy", "Dek"],
                today: "Bugun",
                clear: "O'chirish",
                format: "dd.mm.yyyy",
                weekStart: 1,
                monthsTitle: 'Oylar'
            };
        }(jQuery));
        $(function () {
          $(".datepickerFrom").datepicker({
              autoclose: true,
              language: 'ru',
              todayHighlight: true
          });
        });

        FilePond.registerPlugin(

            // encodes the file as base64 data
            FilePondPluginFileEncode,

            // validates the size of the file
            FilePondPluginFileValidateSize,

            // corrects mobile image orientation
            FilePondPluginImageExifOrientation,

            // previews dropped images
            FilePondPluginImagePreview
        );
        FilePond.setOptions({
            instantUpload: false
        });
        let lang_file_count = parseInt($(`.language-item`).data('files-count'));
        let file_url = new Array();
        for (let j = 1; j < lang_file_count + 1; j++) {
            file_url[j] = $(`input.filepondLanguage`).data(`file-url-${j}`);
        }
        fLang = FilePond.create(document.querySelector(`input.filepondLanguage`));
        for (let j = 1; j < lang_file_count + 1; j++) {
            file_url[j] = file_url[j].replace("%20", " ");
            //console.log(file_url[j]);
            fLang.addFile(decodeURI(file_url[j]));
        }

        $("#employeeEditButton").click(function(event){
            event.preventDefault();

            let languageFormData = new FormData();

            languageFormData.append(`language`, $(`select[name='lang_name']`).val());
            languageFormData.append(`level`, $(`select[name='lang_level']`).val());
            languageFormData.append(`parent`, {{ language.id }});

            var languageCountFile = fLang.getFiles().length;
            for (var j = 0; j < languageCountFile; j++) {
               //languageFormData.append(`file`, fLang[i].getFiles()[j].file);
               let f = fLang.getFiles()[j].file;
               let fImage = new File([f], f.name, {type: f.type});
               languageFormData.append(`file`, fImage);
            }

            $.ajax({
                url: $(this).data('api'),
                data: languageFormData,
                processData: false,
                contentType: false,
                type: "PUT",
                success: function (data) {
                    var x = document.getElementById("mainSuccess");
                    $("#mainSuccess").text("{% trans 'successfully sent' %}");
                    x.className = "show";
                    setTimeout(function(){
                        x.className = x.className.replace("show", "");
                        window.location.href = "{% url 'employee.profile' %}";
                    }, 1500);
                },
                error: function (data) {
                    $.magnificPopup.close();
                    var x = document.getElementById("mainError");

                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                }
            });
        });
    </script>
{% endblock %}
