{% extends '_base.html' %}
{% load static i18n thumbnail %}

{% block css %}

{% endblock %}
{% block content %}
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="profile-main">
                    <div class="content-title">
                        <h2>{% trans 'Biometric data' %}</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-side">
                                <div class="profile-side__title">
                                    <h2>{% trans 'Personal cabinet' %}</h2>
                                </div>
                                <nav class="nav_personal d-lnk-txt">
                                    <ul>
                                        <li class="">
                                            <a href="{% url 'employee.profile' %}"><i class="fa fa-user"></i> {% trans 'My profile' %}</a>
                                        </li>
                                        <li class="">
                                            <a href="{% url 'employee.password.update' %}"><i class="fa fa-cog"></i> {% trans 'Settings' %} </a>
                                        </li>
                                        <li class="">
                                            <a href="#"><i class="fa fa-book"></i> {% trans 'Courses' %} </a>
                                        </li>
                                    </ul>
                                    <div class="nav_personal__footer">
                                        <a href="{% url 'logout' %}"> {% trans 'Logout' %}</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-9">

                            <div class="profile-content">
                                <div class="employee-detail">
                                    <div class="row">
                                        <form name="employee_update" id="employee_update">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="heightID">{% trans 'Height' %} ({% trans 'sm' %})</label>
                                                    <input name="height" type="text" class="form-control" id="heightID" value="{{ employee.height|floatformat }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="weightID">{% trans 'Weight' %} ({% trans 'kg' %})</label>
                                                    <input name="weight" type="text" class="form-control" id="weightID" value="{{ employee.weight|floatformat }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="fatnessID">{% trans 'Fatness' %} (%)</label>
                                                    <input name="fatness" type="text" class="form-control" id="fatnessID" value="{{ employee.fatness|floatformat }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="vision_lID">{% trans 'Vision' %} (L)</label>
                                                    <input name="vision_l" type="text" class="form-control" id="vision_lID" value="{{ employee.vision_l|floatformat }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="vision_rID">{% trans 'Vision' %} (R)</label>
                                                    <input name="vision_r" type="text" class="form-control" id="vision_rID" value="{{ employee.vision_r|floatformat }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group radio-form">
                                                    <label for="">{% trans 'Appearance' %}</label>
                                                    <div class="radio-group">
                                                        <input type="radio" id="appearance4" name="appearance" value="4" {% if employee.appearance == 4 %}checked{% elif not employee.appearance %}checked{% endif %}>
                                                        <label for="appearance4">
                                                            <span>4</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="appearance7" name="appearance" value="7"  {% if employee.appearance == 7 %}checked{% endif %}>
                                                        <label for="appearance7">
                                                            <span>7</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="appearance10" name="appearance" value="10" {% if employee.appearance == 10 %}checked{% endif %}>
                                                        <label for="appearance10">
                                                            <span>10</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group radio-form">
                                                    <label for="">{% trans 'Neatness' %}</label>
                                                    <div class="radio-group">
                                                        <input type="radio" id="neatness4" name="neatness" value="4" {% if employee.neatness == 4 or not employee.neatness %}checked{% endif %}>
                                                        <label for="neatness4">
                                                            <span>4</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="neatness7" name="neatness" value="7" {% if employee.neatness == 7 %}checked{% endif %}>
                                                        <label for="neatness7">
                                                            <span>7</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="neatness10" name="neatness" value="10" {% if employee.neatness == 10 %}checked{% endif %}>
                                                        <label for="neatness10">
                                                            <span>10</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group radio-form">
                                                    <label for="">{% trans 'Skin' %}</label>
                                                    <div class="radio-group">
                                                        <input type="radio" id="skin4" name="skin" value="4" {% if employee.skin == 4 or not employee.skin %}checked{% endif %}>
                                                        <label for="skin4">
                                                            <span>4</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="skin7" name="skin" value="7" {% if employee.skin == 7 %}checked{% endif %}>
                                                        <label for="skin7">
                                                            <span>7</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="skin10" name="skin" value="10" {% if employee.skin == 10 %}checked{% endif %}>
                                                        <label for="skin10">
                                                            <span>10</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group radio-form">
                                                    <label for="">{% trans 'Blood group' %}</label>
                                                    <div class="radio-group">
                                                        <input type="radio" id="blood_group1ID" name="blood_group" value="1"  {% if employee.blood_group == 1 or not employee.blood_group %}checked{% endif %}>
                                                        <label for="blood_group1ID">
                                                            <span>I</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="blood_group2ID" name="blood_group" value="2" {% if employee.blood_group == 2 %}checked{% endif %}>
                                                        <label for="blood_group2ID">
                                                            <span>II</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="blood_group3ID" name="blood_group" value="3" {% if employee.blood_group == 3 %}checked{% endif %}>
                                                        <label for="blood_group3ID">
                                                            <span>III</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="blood_group4ID" name="blood_group" value="4" {% if employee.blood_group == 4 %}checked{% endif %}>
                                                        <label for="blood_group4ID">
                                                            <span>IV</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group radio-form">
                                                    <label for="">{% trans 'Blood rhesus' %}</label>
                                                    <div class="radio-group">
                                                        <input type="radio" id="blood_resusPlusID" name="blood_resus" value="+" {% if employee.blood_resus == "+" or not employee.blood_resus %}checked{% endif %}>
                                                        <label for="blood_resusPlusID">
                                                            <span>(+)</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-group">
                                                        <input type="radio" id="blood_resusMinusID" name="blood_resus" value="-" {% if employee.blood_resus == "-" %}checked{% endif %}>
                                                        <label for="blood_resusMinusID">
                                                            <span>(-)</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" style="text-align: center;">
                                                <button id="employeeEditButton" class="loginButton" data-api="{% url 'api:employee:update.2' %}" type="submit">
                                                    {% trans 'Send' %}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>

        $("#employeeEditButton").click(function(event){
            event.preventDefault();

            let formData = new FormData();

            formData.append("appearance", $("input[name='appearance']:checked").val());
            formData.append("neatness", $("input[name='neatness']:checked").val());
            formData.append("skin", $("input[name='skin']:checked").val());
            formData.append("height", $("#heightID").val().replace(',', '.'));
            formData.append("weight", $("#weightID").val().replace(',', '.'));
            formData.append("fatness", $("#fatnessID").val().replace(',', '.'));
            formData.append("blood_group", $("input[name='blood_group']:checked").val());
            formData.append("blood_resus", $("input[name='blood_resus']:checked").val());
            formData.append("vision_l", $("#vision_lID").val().replace(',', '.'));
            formData.append("vision_r", $("#vision_rID").val().replace(',', '.'));
            /*var object = {};
            formData.forEach((value, key) => {object[key] = value});
            var jsonData = JSON.stringify(object);

            console.log(jsonData);*/

            $.ajax({
                url: $(this).data('api'),
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    var x = document.getElementById("mainSuccess");
                    $("#mainSuccess").text("{% trans 'successfully sent' %}");
                    x.className = "show";
                    setTimeout(function(){
                        x.className = x.className.replace("show", "");
                        window.location.href = "{% url 'employee.profile' %}";
                    }, 1500);
                },
                error: function (data) {
                    var x = document.getElementById("mainError");
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                },
            });
        });
    </script>
{% endblock %}
